<div class="topp">


  <div class="line1">
  <div class="half">
  <img src="/images/polar-bear-1096468.jpg" class="pppp">
  <h3 class="overlay">Because of ongoing and potential loss of their sea ice habitat resulting from climate change, polar bears were listed as a threatened species in the US under the Endangered Species Act in May 2008. The survival and the protection of the polar bear habitat are urgent issues for WWF.</h3>
  </div>


  <div class="third">
  <p class="p1">North India To Get DNA Bank For Willife</p>
  <p class="p2">The Indian Veterinary Research Institute is going to set up a DNA bank in North India.Scientists at the institute are already in process of collecting the DNA samples</p>
  <button class="act">Know More ></button>
  </div>


  <div class="third2">
  <img src="/images/africanlion.jpg" class="pppp">
<p class="p3">African lion's population has declined by
  <span class="p4">90%</span> in last 75 years. </p>

  </div>

</div>

<div class="line2">
<div class="third back">

  <h3 class="overlay2">Ten years after it was declared functionally extinct, amateur conservationists believe they have spotted a Yangtze river dolphin, or baiji, in a stretch of the Yangtze in eastern China.</h3>

  </div>


  <div class="third2 wheat">

<p class="p5">DID YOU KNOW?</p>
<p class="p6">Cheetah's have disappeared from more than <span class="p4">75%</span></p>
<p class="p6"> of the historic range</p>
<img src="/images/cheetah.jpg">
  </div>


<div class="half">
  <img src="/images/redpanda.jpg" class="pppp">
  <h3 class="overlay3">Red Pandas are endangered due to deforestation (the act of destroying large amounts of trees). Their natural habitat is being demolished by people wishing to spread agriculture and people who fell trees for loggers.</h3>
  </div>


</div>

<div class="line3">

<div class="half hupp">
  <img src="/images/eagle.jpg" class="pppp">
  <h3 class="overlay3">The <span class="p4">1,300 </span>Bird Species Facing Extinction Signal Threats to Human Health</h3>
  </div>

<div class="third2 blc">
<p class="news">Save Wildlife in News</p>
<p class="p7">Paris Agreement Passes Crucial Global and Local Test</p>

  </div>


<div class="third2">
  <img src="/images/giraffe.jpg" class="pppp">

<p class="p8">Extinction looms for giraffe</p>
  </div>

</div>


</div>
