<p>this is donate page content section </p>




    <div class="donation-type-div">
      <h2>Donation</h2>
      <form class="donation-type-form" action="#" method="post">
        <input type="radio" name="Donation" value="Monthly" checked="true">Monthly<br>
        <input type="radio" name="Donation" value="Once">Once<br>
        <input type="radio" name="Donation" value="Yearly">Yearly<br>

    </div>


    <div class="donation-amount-div">
      <h2>Contribution</h2>
      <!-- <form class="donation-amount-form" action="#" method="post"> -->
        <h3>select an amount</h3>
        <input type="radio" name="Donation-amount" value="10">10<br>
        <input type="radio" name="Donation-amount" value="20">20<br>
        <input type="radio" name="Donation-amount" value="50">50<br>
        <input type="radio" name="Donation-amount" value="100">100<br>
        <input type="radio" name="Donation-amount" value="other">other
        <input type="text" name="miscellaneousDonation">

    </div>


    <div class="personal-info">
      <h2>Personal Information</h2>
      <!-- <form class="personal-information-div" action="#" method="post"> -->
<!--  first name-->
        <label for="first-name">First Name</label>
        <input type="text" name="firstName" id="first-name" required><br>
<!-- last name -->
        <label for="last-name">Last Name</label>
        <input type="text" name="lastName" id="last-name" required><br>
<!-- address -->
        <label for="address">Address</label>
        <div class="address-div">
        <input type="text" name="addressLineOne" id="address" placeholder="Address line 1" required><br>
        <input type="text" name="addressLineTwo" id="address" placeholder="Address line 2"><br>
        <input type="text" name="addressPostalCode" id="address" placeholder="Postal Code" required><br>

<!-- Province -->
        <label for="province">Province</label>
        <select class="" id="province" name="province" required>
          <option value="Alberta">AB</option>
          <option value="British Columbia">BC</option>
          <option value="Manitoba">MB</option>
          <option value="New Brunswick">NB</option>
          <option value="Newfoundland and Labrador">NL</option>
          <option value="Northwest Territories ">NT</option>
          <option value="Nova Scotia">NS</option>
          <option value="Nunavut">NU</option>
          <option value="Ontario">ON</option>
          <option value="Prince Edward Island">PE</option>
          <option value="Quebec">QC</option>
          <option value="Saskatchewan">SK</option>
          <option value="Yukon">YT</option>
        </select><br>
<!-- country -->
        <label for="country">First Name</label>
        <select class="" id="country" name="country" required>
          <option value="Canada">Canada</option>
          <option value="States">States</option>
        </select><br>
<!--  phone-->
        <label for="Phone-no">Phone No : </label>
        <input type="tel" name="phoneNo" id="Phone-no" required><br>
        <!--  email-->
        <label for="email">Email </label>
        <input type="email" name="Email" id="email" required><br>
        <!--confirm email  -->
        <label for="confirm-email">Confirm Email </label>
        <input type="email" name="confirmEmail" id="confirm-email" required><br>

    </div>
<div class="payment-option-div">
  <h2>Payment Options</h2>
  <!-- <form class="payment-option-form"action="#"> -->
    <!-- name on card -->
    <label for="name-on-card">Name on Card  </label>
    <input type="text" name="nameOnCard" id="name-on-card" required><br>
<!-- Card number -->
    <label for="card-number">Card Number </label>
    <input type="text" name="cardNumber" id="card-number" required><br>
    <!-- Cvv -->
    <label for="cvv">CVV </label>
    <input type="text" name="cvv" id="cvv" required><br>
    <!-- expiring date -->
    <label for="expiring-date">Expiring Date  </label>
    <input type="month" name="expiringDate" id="expiring-date" required><br>
    <input type="reset"  value="Reset">
    <input type="submit"  value="Submit">
  </form>
</div>

  </div>
