<main>
<div class="main">
<div class="foodd">
<img src="/images/paprika-65270_1920.jpg" class="over">
<div class="inner">
  <p class="fores">FOOD</p>
    <p class="cons">Drive sustainable food systems to conserve nature and feed humanity
  </p>

</div>
</div>
<div class="short">
<h1 class="head">OVERVIEW</h1>

<div class="cent">
<div class="left">
  <p>
Food preservation is to prevent the growth of microorganisms, or other micro-organisms , as well as slowing the oxidation of fats that cause rancidity. Food preservation may also include processes that inhibit visual deterioration, such as the enzymatic browning reaction in apples after they are cut during food preparation.
Many processes designed to preserve food involve more than one food preservation method. Preserving fruit by turning it into jam, for example, involves boiling , sugaring  and sealing within an airtight jar . Some traditional methods of preserving food have been shown to have a lower energy input and carbon footprint, when compared to modern methods.</p>

<p>Around the globe, food production, distribution, management and waste threaten wildlife, wild places and the planet itself.
Today, 7.3 billion people consume 1.6 times what the earth’s natural resources can supply. By 2050, the world’s population will reach 9 billion and the demand for food will double.So how do we produce more food for more people without expanding the land and water already in use? We can’t double the amount of food. Fortunately we don’t have to—we have to double the amount of food available instead. In short, we must freeze the footprint of food.</p>

<p>In the near-term, food production is sufficient to provide for all, but it doesn’t reach everyone who needs it. About 1.3 billion tons of food are wasted each year—four times the amount needed to feed the more than 800+ million people who are malnourished.By improving efficiency and productivity while reducing waste and shifting consumption patterns, we can produce enough food for everyone by 2050 on roughly the same amount of land we use now. Feeding all sustainably and protecting our natural resources.</p>

<p>Save Wild works to secure a living planet that will sustain a more affluent population. From refining production and distribution to combating waste and environmental impacts, we want to improve how the world grows, transports and consumes this precious fuel.</p>

</div>
<div class="right">
  <div class="right-one">
<p class="nine">9</p>
<p class="nine">Billion</p>
<p class="rest">By 2050, the world’s population will reach 9 billion and the demand for food will double.
BROWSE PHOTOS & VIDEOS</p>

  </div>
<div class="video">


<iframe class="vid" src="https://www.youtube.com/embed/5sxijXfLozw" frameborder="0" allowfullscreen></iframe>

</div>
</div>
</div>

<div class="cent2">
  <h1 class="priority">PRIORITY COMMODITIES</h1>


  <div class="gl"><img src="/images/cows-cow-203460_1920.jpg" class="gol">
  <h2 class="food">BEEF</h2>
  </div>
  <div class="gl"><img src="/images/rainbow-trout-117482_1920.jpg" class="gol">
  <h2 class="water">FARMED SALMON</h2></div>
  <div class="gl"><img src="/images/oyster.jpg" class="gol">
  <h2 class="wildlife">FARMED SEAFOOD</h2></div>
  <div class="gl"><img src="/images/shrimp-727214_1920.jpg" class="gol">
  <h2 class="forest">FARMED SHRIMP</h2></div>

</div>


	</div>
</div>
</main>
