
<m/ain>
<div class="main">
<div class="foodd">
<img src="/images/road-21205_1920.jpg" class="over">
<div class="inner">
<p class="fores">FOREST</p>
  <p class="cons">Conserve the world's most important forests to sustain nature's diversity, benefit our climate, and support human well-being
</p>
</div>
</div>
<div class="short">
<h1 class="head">OVERVIEW</h1>

<div class="cent">
<div class="left">
  <P>This forest protection also has a legal status and rather than protection from only people damaging the forests is seen to be broader and include forest pathology too. Thus due to this the different emphases around the world paradoxically suggest different things for forest protection.</P>

<P>The beauty and tranquility of forests all over the world—from tropics to the tundra—inspire all of us. We know that eight out of 10 species found on land live in forests. Almost 300 million people, particularly in developing countries, live in forests too.</p>

<P>But threats to the world’s forests are growing. Expanding agriculture, due to an increased population and shifts in diet, is responsible for most of the world’s deforestation. Illegal and unsustainable logging, usually resulting from the demand for cheap wood and paper, is responsible for most of the degradation of the world’s forests.</p>


<P>The threats are so severe that we are losing huge swathes of forests at an alarming rate. The Amazon, the planet’s largest rain forest, lost at least 17 percent of its forest cover in the last half century due to human activity—mainly clearing trees to create new or larger farms and ranches.</p>

<p>Save wild is working to address the threats to forests: By 2020, we must conserve the world’s forests to sustain nature’s diversity, benefit our climate and support human well-being.</p>

<p>Most of Save Wild’s work is being done in tropical rain forests, which are the most biologically diverse and complex forests on Earth—forests in the Amazon, the Congo Basin, the Greater Mekong and other regions near the equator. But it also is taking place in temperate regions, such as the Russian Far East and the United States.</p>


</div>

<div class="right rr">
  <img src="/images/forest (2).jpg">
  <div class="right-one">
<p class="nine">8 OUT</p>
<p class="nine">OF 10</p>
<p class="rest">Eight out of 10 land dwelling species and nearly 300 million people lives in forests.
</p>

  </div>

</div>
  </div>





</div>

	  </div>
	</main>
