<main>
<div class="main">
  <div class="gallery">
<div class="gall">
<img src="/images/bear-2162631_1920.jpg">
<p class="pol">POLAR BEAR</p>
</div>


<div class="gall">
<img src="/images/panda-655491_1920.jpg">
<p class="pol">GIANT PANDA</p>
</div>

<div class="gall">
<img src="/images/leopard-400274_1920.jpg">
<p class="pol">LEOPARD</p>
</div>

<div class="gall">
<img src="/images/orangutang-1550231.jpg">
<p class="pol">ORANGUTAN</p>
</div>

<div class="gall">
<img src="/images/elephant-55255_1920.jpg">
<p class="pol">ELEPHANT</p>
</div>

<div class="gall">
<img src="/images/carapace-1851102_1920.jpg">
<p class="pol">SEA TURTLE</p>
</div>

<div class="gall">
<img src="/images/dolphin-1019616_1920.jpg">
<p class="pol">DOLPHIN</p>
</div>

<div class="gall">
<img src="/images/tiger-8057.jpg">
<p class="pol">TIGER</p>
</div>

<div class="gall">
<img src="/images/yellowstone-2225087_1920.jpg">
<p class="pol">PLAINS BISON</p>
</div>

<div class="gall">
<img src="/images/zoo-2175331_1920.jpg">
<p class="pol">RHINO</p>
</div>

<div class="gall">
<img src="/images/chimpanzee-898756_1920.jpg">
<p class="pol">CHIMPANZEE</p>
</div>


<div class="gall">
<img src="/images/lion-2488085_1920.jpg">
<p class="pol">LION</p>
</div>

 </div>
  </main>
