<p>this is the thank you page<p>
  <p>thanks <%= name %></p>
  <p>email  : <%= email %></p>
  <p>delivered : <%= delivered %><span class = "mail-delivery-status"></span></p>
  <a href="/login">login here</a>
