
<main>
<div class="main">
<div class="foodd">
<img src="/images/water-2439320_1920.jpg" class="over">
<div class="inner">
  <p class="fores">FRESH WATER</p>
    <p class="cons">By 2025, the health of the world’s major basins is improving or maintained
  </p>

</div>
</div>
<div class="short">
<h1 class="head">OVERVIEW</h1>

<div class="cent">
<div class="left">
  <p>Water conservation includes all the policies, strategies and activities made to sustainably manage the natural resource fresh water, to protect the water environment, and to meet the current and future human demand. Population, household size, and growth and affluence all affect how much water is used. Factors such as climate change have increased pressures on natural water resources especially in manufacturing and agricultural irrigation.Many US cities have already implemented policies aimed at water conservation, with much success.</p>

<p>It’s also threatened. Climate change, population growth and changing consumption patterns are just a few of the myriad forces putting freshwater systems increasingly at risk. Freshwater species are declining at an alarming rate of 76%—much faster than terrestrial or marine species—and freshwater habitats are in worse condition than those of forests, grassland or coastal systems.</p>

<p>Protecting fresh water cannot happen alone. Save Wildlife partners with governments, businesses, international financial institutions and communities to ensure healthy freshwater systems exist to conserve wildlife and provide a sustainable future for all. Together, we can create a water-secure future.</p>
</div>

<div class="right">
  <img src="/images/drop-of-water-518191_1920.jpg">
</div>
  </div>

<div class="cent2">
  <div class="left">
  <p class="protect">Protecting water could mean advancing peace & prosperity
</p>
<p>Many people may not know that access to fresh water around the globe can have big impacts here in the US. This week, Save Wildlife released a new book entitled Water, Security and U.S. Foreign Policy, exploring how access to water affects US national security and prosperity and how the US can respond effectively. We sat down with two Save Wildlife experts to provide some background on this link between fresh water and national security.</p>
</div>

<div class="right">
  <img src="/images/springbok-1118895_1920.jpg">
</div>


</div>



</div>
	  </div>
	  </main>
