
<main>
<div class="main">
<div class="foodd">
<img src="/images/rhino-1895111.jpg" class="over">
<div class="inner">
  <P class="fores">WILDLIFE</p>
    <P class="cons">Ensure the world’s most iconic species, including tigers, rhinos, and elephants, are secured and recovering in the wild
  </p>

</div>
</div>
<div class="short">
<h1 class="head">Wildlife conservation as a government involvement</h1>

<div class="cent">
<div class="left">
  <p> The World Conservation Strategy was developed in 1980 by the "International Union for Conservation of Nature and Natural Resources" (IUCN) with advice, cooperation and financial assistance of the United Nations Environment Programme (UNEP) and the World Wildlife Fund and in collaboration with the Food and Agriculture Organization of the United Nations (FAO) and the United Nations Educational, Scientific and Cultural Organization (Unesco)"The strategy aims to "provide an intellectual framework and practical guidance for conservation actions." This thorough guidebook covers everything from the intended "users" of the strategy to its very priorities. It even includes a map section containing areas that have large seafood consumption and are therefore endangered by over fishing. The main sections are as follows:</p>

<h3>
The objectives of conservation and requirements for their achievement:</h3>
<p>1.Maintenance of essential ecological processes and life-support systems.</p>
<p>2.Preservation of genetic diversity that is flora and fauna.</p>
<p>3.Sustainable utilization of species and ecosystems.</p>
<h3>Priorities for national action:</h3>
<p>1.A framework for national and sub-national conservation strategies.</p>
<p>2.Policy making and the integration of conservation and development.</p>
<p>3.Environmental planning and rational use allocation.</p>
</div>

<div class="right">
  <img src="/images/ele.jpg">
</div>
  </div>

<div class="cent2">
  <div class="left">
  <p class="protect">Non-government involvement
</p>
<p>As major development agencies became discouraged with the public sector of environmental conservation in the late 1980s, these agencies began to lean their support towards the “private sector” or non-government organizations (NGOs). In a World Bank Discussion Paper it is made apparent that “the explosive emergence of nongovernmental organizations” was widely known to government policy makers. Seeing this rise in NGO support, the U.S. Congress made amendments to the Foreign Assistance Act in 1979 and 1986 “earmarking U.S. Agency for International Development (USAID) funds for biodiversity”. From 1990 moving through recent years environmental conservation in the NGO sector has become increasingly more focused on the political and economic impact of USAID given towards the “Environment and Natural Resources”. After the terror attacks on the World Trade Centers on September 11, 2001 and the start of former President Bush’s War on Terror, maintaining and improving the quality of the environment and natural resources became a “priority” to “prevent international tensions” according to the Legislation on Foreign Relations Through 2002 and section 117 of the 1961 Foreign Assistance Act. Furthermore, in 2002 U.S. Congress modified the section on endangered species of the previously amended Foreign Assistance Act.</p>
</div>

<div class="right rir">
  <img src="/images/ore.jpg">
</div>


</div>
	</div>


</div>

	  </main>
