<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Email</title>
</head>

<body class="email">
  <div class="container">
    <header>
      <h1>Thanks</h1>
    </header>

    <img src="cid:uniqueMailImage" alt="image">

    <div class="all-para">
    <p>Dear Contributor,</p>
    <p class="first-para">Thank you for your donation to Save Wild Life Fund!. Your gift to WWF helps support our global conservation efforts.</p>
    <p>We are deeply grateful for your generosity and support of our conservation efforts. You are helping us protect the future of nature!</p>
    <p>Once again, thank you for your support</p>
    <p class="sincerely">Sincerely,</p>
    <p>World Wildlife Fund</p>
    <p class="ps">P.S. Visit our home page at www.savewildlife.com to learn more about Save Wild Life Fund's conservation efforts around the globe.</p>
  </div>
    <footer>
      <span class="copyright-span">&copy; 2017 savewildlife.com<span>
    </footer>

  </div>
</body>

</html>
