<footer>

  <h2 class="f">DO YOU HAVE ANY DOUBT</h2>
  <p class="cont">Contact us at: </p>
  <p class="maill">info@savewild.ca</p>
  <p class="maill">copyright© 2017 Save Wild | All Rights Reserved</p>

</footer>
