<header>
  <div class="outer">
<div class="mid">

<nav>


  <ul>

    <li><a href="/">Home</a></li>
    <li><a href="/gallery">Gallery </a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/aboutUs">About us</a></li>
        <li><button class="donate"><a href="/donate">Donate</a></button></li>
    </ul>
</nav>
</div>
</div>

</header>
