<!DOCTYPE html>
<html lang="en">
<head><% include partials/template/head.ejs %></head>
<body class="body-<%= siteTitle%>">
<% include partials/template/header.ejs %>
<div class="container">
  <% include partials/content/forestContent.ejs %>
</div>
<% include partials/template/footer.ejs %>
<% include partials/template/defaultjs.ejs %>
</body>
</html>
